.logo {
  text-align: center;
  font-size: 2em;
  font-family: "Courier New", Courier, monospace;
  margin: auto;
  width: 100%;
}

.content {
  margin: 0 auto;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}
